{% extends "maths/main.html" %}

{% block title %}Posts details{% endblock %}

{% block content %}
   <table>
       <tr>
           <th>Title:</th>
           <td>{{ post.title }}</td>
       </tr>
       <tr>
           <th>Content:</th>
           <td>{{ post.content|truncatewords_html:10 }}</td>
       </tr>
       <tr>
           <th>Author:</th>
           <td>{{ post.author.nick }}</td>
       </tr>
       <tr>
           <th>Created:</th>
           <td>{{ post.created }}</td>
       </tr>
       <tr>
           <th>Modified:</th>
           <td>{{ post.modified }}</td>
       </tr>
   </table>
   <a href="{% url "posts:list" %}">back</a>
{% endblock %}