{% extends "main.html" %}
{% load bootstrap4 %}

{% block title %}Posts list{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item " >
            <a href="{% url 'greetings:welcome'%}">Home</a>
        </li>
        <li class="breadcrumb-item active" >
            Posts
        </li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <h3>Posts</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in posts %}
                        <tr>
                            <td><a href="{% url 'posts:details' p.id %}">{{ p.title }}</a></td>
                            <td>{{ p.author }}</td>
                            <td>{{ p.created }}</td>
                            {% if perms.posts.change_post %}
                            <td><a href="{% url 'posts:editing' p.id %}">Edit</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row justify-content-center">
          <div class="col-md-7">
            {% if perms.posts.add_post %}
                <h3>Add a new Post</h3>
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% bootstrap_form form  %}
                    <input type="submit" value="Dodaj">
                </form>
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}
