{% extends "main.html" %}

{% block title %}Posts details{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item " >
        <a href="{% url 'greetings:welcome'%}">Home</a>
    </li>
    <li class="breadcrumb-item " >
        <a href="{% url 'posts:list'%}">Posts</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Details
    </li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.author.nick }} | {{ post.created }}</h2>
                <p>
                   {{ post.content|truncatewords_html:10 }}
                </p>
                {% if post.image.url is not None %}
                    <div><img src="{{ post.image.url }}" width="400px" height="200px"></div>
                {% else %}
                {% endif %}
            <a href="{% url 'posts:list' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
{% endblock %}