{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Title{% endblock %}</title>

   {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style.css' %}">

   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}


   <style>
    .navbar {
        height: 100px; 
    }

    .navbar-brand,
    .navbar-nav .nav-link {
        line-height: 100px; 
    }


    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
 </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'greetings:welcome' %}">
            Django Learning
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if 'about' in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url 'greetings:about' %}">About</a>
              </li>
              <li class="nav-item {% if 'contact' in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url 'greetings:contact' %}">Contact</a>
              </li>
              <li class="nav-item {% if 'maths' in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url 'maths:list'%}">Maths</a>
              </li>
              <li class="nav-item {% if 'posts/list' in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url 'posts:list'%}">Posts</a>
              </li>
              <li class="nav-item {% if 'authors' in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url 'posts:a_list'%}">Authors</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item {% if 'welcome' in request.get_full_path %}active{% endif %}" >
                <a href="{% url 'greetings:welcome' %}">Home</a>
            </li>
        </ol>
    {% endblock %}
   <div id="inner-content">
    </div>
    <main role="main" class="container" style="margin-top: 10px;">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
    </main>
</body>
</html>